* {
    margin: 0px;
    padding: 0px;
}

* > div {
    border: 1px solid black;
}
/* main-info */
.main-info {
    display: flex;
    height: 95vh;
    padding: 35vh 1em;
    text-align: center;
    background: url("/img/cover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-info-left {
    color: white;
    width: 50%;
}

.main-info-right {
    color: white;
    width: 50%;
}
/* end of main-info */
/* intro */
.intro {
    display: flex;
    padding: 200px 10px 200px 10px;
    text-align: center;
}

.intro-left {
    width: 50%;
}

.intro-right {
    width: 50%;
}
/* end of intro */
/* skills */
.skills {
    padding: 300px 10px 300px 10px;
    text-align: center;
}
/* end of skills */
/* footer */
.footer {
    display: flex;
    padding: 150px 10px 150px 10px;
    text-align: center;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 50%;
}
/* end of footer */