* {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: url("/img/cs.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* * > div {
    border: 1px solid black;
} */

.navbar-right > .navbar-nav > .nav-item {
    font-weight: 600;
    padding-left: 50px;
    padding-right: 20px;
}

@media (min-width: 375px) {
    .navbar-right > .navbar-nav > .nav-item {
        padding-left: 13px;
    }
}

.btn-font {
    font-family: var(--bs-font-sans-serif);
    font-weight: 450;
}

.main-info {
    /* display: flex; */
    height: 95vh;
    padding: 35vh 1em;
    text-align: center;
    background: url("/img/cover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-info-left {
    color: white;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 20px;
    /* width: 50%; */
}

.main-info-right {
    color: white;
    /* width: 50%; */
}

.intro {
    display: flex;
    padding: 200px 10px 200px 10px;
    text-align: center;
}

.intro-left {
    width: 50%;
}

.intro-right {
    width: 50%;
}

.skills {
    padding: 300px 10px 300px 10px;
    text-align: center;
}

.footer {
    display: flex;
    padding: 150px 10px 150px 10px;
    text-align: center;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 50%;
}